<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="admin.css">
  <link rel="stylesheet" type="text/css" href="fontawesome-free/css/all.min.css">

  <title>Halaman Admin</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-danger fixed-top">
    <a class="navbar-brand" href="#">Halaman Admin | <b>Pemrograman WEB II</b></a>
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="icon ml-4">
      <h5>
        <i class="fas fa-envelope mr-3" data-toggle="tooltip" title="Inbox"></i>
        <i class="fas fa-bell mr-3" data-toggle="tooltip" title="Notifikasi"></i>
        <i class="fas fa-sign-out-alt mr-3" data-toggle="tooltip" title="Sign-Out"></i>
      </h5>
    </div>
    </div>
  </nav>

  <div class="row no-gutters mt-5">
    <div class="col-md-2 bg-dark mt-2 pr-3 pt-4">
      <ul class="nav flex-column ml-3 mb-5">
        <li class="nav-item">
          <a class="nav-link active text-white" href="dashboard.html"><i
              class="fas fa-tachometer-alt mr-3"></i>Dashboard</a>
          <hr class="bg-secondary">
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="home.html"><i class="fas fa-home mr-3"></i>Home</a>
          <hr class="bg-secondary">
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="user.html"><i class="fas fa-user-edit mr-3"></i>User</a>
          <hr class="bg-secondary">
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="post.html"><i class="fas fa-paper-plane mr-3"></i>Post</a>
          <hr class="bg-secondary">
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="dosen.html"><i class="fas fa-chalkboard-teacher mr-3"></i>Dosen</a>
          <hr class="bg-secondary">
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="mata_kuliah.html"><i class="fas fa-graduation-cap mr-3"></i>Mata
            Kuliah</a>
          <hr class="bg-secondary">
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="jadwal.html"><i class="fas fa-calendar-alt mr-3"></i>Jadwal</a>
          <hr class="bg-secondary">
        </li>
      </ul>
    </div>
    <div class="col-md-10 p-5 pt-2">
      <h3><i class="fas fa-user-edit mr-3"></i>DAFTAR USER</h3>
      <hr>
      <a href="" class="btn btn-primary mb-3"><i class="fas fa-plus-circle mr-2"></i>Add Data</a>
      <table class="table table-striped table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">NO</th>
            <th scope="col">Nama User</th>
            <th scope="col">NPM</th>
            <th scope="col">Email</th>
            <th scope="col">Tempat Tgl Lahir</th>
            <th colspan="3" scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Nabila</td>
            <td>12345</td>
            <td>nabila@gmail.com</td>
            <td>Ternate - Maluku Utara</td>
            <td><a href="" class="btn btn-primary">Detail</a></td>
            <td><i class="fas fa-edit bg-warning p-2 text-white rounded" data-toggle="tooltip" title="Edit"></i></td>
            <td><i class="fas fa-trash-alt bg-danger p-2 text-white rounded" data-toggle="tooltip" title="Delete"></i>
            </td>
          </tr>

          <tr>
            <th scope="row">2</th>
            <td>okhy</td>
            <td>123456</td>
            <td>okhy@gmail.com</td>
            <td>Ternate - Maluku Utara</td>
            <td><a href="" class="btn btn-primary">Detail</a></td>
            <td><i class="fas fa-edit bg-warning p-2 text-white rounded" data-toggle="tooltip" title="Edit"></i></td>
            <td><i class="fas fa-trash-alt bg-danger p-2 text-white rounded" data-toggle="tooltip" title="Delete"></i>
            </td>
          </tr>

          <tr>
            <th scope="row">3</th>
            <td>Yolki</td>
            <td>1234567</td>
            <td>yolki@gmail.com</td>
            <td>Ternate - Maluku Utara</td>
            <td><a href="" class="btn btn-primary">Detail</a></td>
            <td><i class="fas fa-edit bg-warning p-2 text-white rounded" data-toggle="tooltip" title="Edit"></i></td>
            <td><i class="fas fa-trash-alt bg-danger p-2 text-white rounded" data-toggle="tooltip" title="Delete"></i>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="admin.js"></script>
</body>

</html>